
.body{background-color: #e1e3e6; }
.TITAN YARN {background-color:#8d9dad;}
.Container{ width: 1200px;
    text-align: justify; 
    padding: 65px;
	color: #7d7676;
  /*! margin-left: auto; */
  /*! margin-right: auto; */margin-left: auto;
}
.row{ display:flex;flex-wrap:wrap; padding: 3px;}
.img{max-width: 100%;}
.Column_1{padding: 20px;flex-basis: 45%;max-width: 45%;text-align: left;}
.strong{ color:#8d9dad;font-size:12px;letter-spacing:1px; }
.h1{color: #5f6871;font-size: 30px, font-weight:400}
.p{}
.column_2{flex-basis:44%;max-width:51%; transform: revert;text-align: left;margin-right: 25%;padding: 10px;}
.img_one{border-radius: 13px;width: 218px;transform: translate(47px, 54px ); height: 330px;}
.img_two{ border-radius: 13px; width: 221px;/*! height: 200px; */}